<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Privacidade</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
</head>
<body>
    <p>
        EMPRESA.<br>
O uso deste aplicativo por parte das empresas incide em taxas, que você pode acompanhar no menu Financeiro. Aconselhamos que você verifique e certifique-se dos valores antes de criar a empresa.
A INCASA é apenas uma plataforma de pedidos, onde os clientes criam suas listas de produtos e enviam às empresas, de outro lado, as empresas ao confirmar (aceitar), se comprometem em entregar os pedidos mediante pagamento.
Quanto as entregas, elas podem ser no balcão ou delivery (até a casa do cliente) que pode ser da própria empresa ou da INCASA. Caso você aceitar os serviços de nossos (INCASA) entregadores, não haverá cobrança de taxas, o que fica por responsabilidade dos próprios clientes.
 Quando um de nossos entregadores é acionado e recolhe o pedido na empresa, até a entrega na casa do cliente, somos os responsáveis e qualquer dano ou imprevisto é de nossa responsabilidade e arcaremos financeiramente com o reembolso, se necessário.
As taxas são cobradas por cada pedido que a empresa confirme (aceite) e esses valores (taxas) deverão ser pagos a INCASA quinzenalmente. As datas são dia 01 e 15 do mês, o valor é a soma de todas as taxas acumuladas até as 00:00h do dia anterior (01 e 15).
O valor das taxas poderá ser pago no próprio aplicativo, via cartão de crédito ou boleto. O não pagamento acarretará em bloqueio do sistema e o desbloqueio, apenas quando o pagamento for realizado.
Ao clicar em "Aceito", você está concordando com todos os nossos termos e se comprometendo legalmente, em arcar com os custos, caso sejam gerados.
<br><br>
SERVIÇO.<br>
O uso deste aplicativo por usuários autônomos não acarretará em nenhuma taxa. Nosso objetivo aqui é fomentar o setor informal para que consiga superar esta crise.
A INCASA é uma plataforma que divulgará seu trabalho para os usuários do nosso aplicativo. Esclarecemos que entre a INCASA e o usuário que está ofertando seu serviço, NÃO HÁ NENHUM VÍNCULO trabalhista ou qualquer outro, sendo assim, o usuário poderá desativar sua conta a qualquer momento, sem ônus para ambas as partes.
Para a manutenção da plataforma, trabalhamos com divulgação de empresas parceiras, dessa maneira é possível ofertarmos seus serviços de maneira gratuita. Assim, você entende que quaisquer divulgações que possa ser vinculada a sua conta é para que a plataforma possa continuar a oferecer determinados serviços gratuitos.
Os dados preenchidos a seguir são de domínio público, pois apenas assim, podemos oferecer o seu serviço ao maior número de usuários possível. Esperamos que com nossa ajuda, você possa oferecer o seu melhor e aumentar o número de clientes.
<br>
USUÁRIO<br><br>
Caro usuário, o aplicativo INCASA tem como objetivo contribuir com a população nesse momento de crise, onde o isolamento social se faz necessário, mas onde as necessidades básicas não podem também esperar. Por outro lado, o comércio não pode parar, tanto para que não haja desabastecimento, quanto para não haver demissões em massa, o que apenas contribuiria para um colapso social.
O INCASA, servirá como facilitador entra ambas as partes, mesmo sem vínculos, no intuito de facilitar as compras e entregas, que poderá ser feita de 3 maneiras: o cliente poderá receber no balcão da empresa; a empresa poderá se encarregar de levar o pedido até a casa do cliente; e a terceira possibilidade será onde a empresa que não tenha entregador, utilizará nossos entregadores para facilitar as vendas. 
As duas primeiras formas de entrega serão de responsabilidade do cliente ou da empresa respectivamente, a terceira, será de responsabilidade nossa. Almejamos com isso, gerar oportunidades para pessoas que nesse momento estão ociosas, mas que necessitam sustentar suas famílias.
Informamos que toda e qualquer taxa, além do valor da compra, estará claramente destacada e deverá ter a aprovação do usuário. Sendo assim, o usuário sempre estará ciente do que está pagando. 
Por motivo de segurança, na realização do cadastro, o usuário (padrão, entregador e/ou empresa) deverá obrigatoriamente tirar uma foto(self) para que posteriormente, este item sirva para validação cadastral físico. Todos os tipos de usuários poderão ser avaliados, medida essa que visa aumentar os padrões de qualidade tanto do INCASA, quanto dos próprios usuários.
As informações pessoais que serão compartilhadas dependendo da função, servirão apenas para reafirmar a veracidade do usuário envolvido na ação em especifico. Sempre que houver a necessidade de um dado particular ser compartilhado, o usuário será informado.
No mais, esperamos que você tenha uma excelente experiencia conosco e que esse momento difícil possa passar rapidamente.
<br>
    </p>
</body>
</html>